body {
    background-color: #121212;
}

.chat-box {
    height: 400px;
    padding: 10px;
    overflow-y: scroll;
    border: 1px solid #444;
    background-color: #1e1e1e;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}

.chat-message {
    margin: 10px 0;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

.user-message {
    text-align: right;
    color: #bb86fc; /* Kullanıcı mavi rengi */
    font-weight: bold;
}

.bot-message {
    text-align: left;
    color: #03dac6; /* Bot yeşil rengi */
}

.code-container {
    position: relative;
    background-color: #2e2e2e;
    border: 1px solid #444;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    overflow: auto;
}

.copy-code {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    background-color: #6200ee;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    font-size: 12px;
}

.copy-code:hover {
    background-color: #3700b3;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}